# .gitignore

# Python/Environment
.venv/
__pycache__/
*.pyc

# Node/Dependencies
node_modules/
# package-lock.json

# IDE/Editor
.vscode/
.idea/

# Logs and Build

*.log
*.tmp

# .Local database files
platform/backend/chat

# BookSim specific

# configs
configs/*.cfg

# Agent short term memory
agent/memory/*.md

# Environment variables
.env
